<div class="hero">
    
<div class="hero-2">
    <div class="container">
   

        <div class="box-1">
            <h3 style="color: red">Our Story</h3>
            <h1 id="heading">We know how everything works and why your business is failing over and over again.</h1>
            <img class='img1' src="../assets/images/Img2.png" alt="">
         </div>
         <div class="box-1">
             <img class='img2' src="../assets/images/Img 3.png" alt="">
             <p>We share common trends and strategies for improving your rental 
                 income and making sure you stay in high demand. With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
         </div>
         <div class="box-1">
             <img class='img3' src="../assets/images/Img1.png" alt="">
         
       </div>
    
    
        
        
    </div>
    <div class="container-2">
        <div class="head-1">
            <h1>1M+</h1>
            <p class="para">Customers visit Omega every month to get their service done.</p>
        </div>
        <div class="head-1"><h1>92%</h1>
            <p class="para">Satisfaction rate comes from our awesome customers.</p></div>
        <div class="head-1"><h1>4.9/5.0</h1>
            <p class="para">Average customer ratings we have got all over internet.</p></div>
    </div>
</div>
</div>

